## Deliverable 3. Create a Travel Itinerary Map.

In [7]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [8]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search_csv/WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Isangel,VU,81.57,clear sky,-19.5500,169.2667,Tanna Lodge
1,2,Avarua,CK,78.67,broken clouds,-21.2078,-159.7750,Paradise Inn
2,3,Cabo San Lucas,MX,81.61,clear sky,22.8909,-109.9124,Vista Roof Restaurant
3,8,Kapaa,US,80.58,clear sky,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
4,10,Hambantota,LK,80.02,scattered clouds,6.1241,81.1185,Bungalow 63
...,...,...,...,...,...,...,...,...
192,664,Halayhayin,PH,87.40,overcast clouds,14.1891,121.4075,Kubo Ni Kalbo
193,669,Lahaina,US,83.44,clear sky,20.8783,-156.6825,Lahaina Shores Beach Resort
194,672,Palauig,PH,86.79,broken clouds,15.4350,119.9045,Alperi Botique Resort
195,675,Puerto Gaitan,CO,77.59,overcast clouds,4.3133,-72.0816,Brisas del Yucao
196,683,Kharan,PK,85.59,clear sky,28.5833,65.4167,Dil Aram Bangla

In [9]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather </dt><dd> {Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [10]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Venice"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Venice"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Saint Pete Beach"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Tavares"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Satellite Beach"]

In [12]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = [tuple(r) for r in vacation_start[["Lat", "Lng"]].to_numpy()][0]
end =  [tuple(r) for r in vacation_end[["Lat", "Lng"]].to_numpy()][0]
stop1 =  [tuple(r) for r in vacation_stop1[["Lat", "Lng"]].to_numpy()][0]
stop2 =  [tuple(r) for r in vacation_stop2[["Lat", "Lng"]].to_numpy()][0]
stop3 =  [tuple(r) for r in vacation_stop3[["Lat", "Lng"]].to_numpy()][0]
end

(27.0998, -82.4543)

In [16]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets

fig = gmaps.figure()
trip_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1,stop2,stop3],
        travel_mode="DRIVING")
fig.add_layer(trip_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,390,Venice,US,83.98,thunderstorm,27.0998,-82.4543,A Beach Retreat On Casey Key
1,557,Saint Pete Beach,US,84.25,clear sky,27.7253,-82.7412,Sirata Beach Resort
2,363,Tavares,US,81.19,few clouds,28.8042,-81.7256,Holiday Inn Express & Suites Tavares - Leesbur...
3,581,Satellite Beach,US,82.06,clear sky,28.1761,-80.5901,Radisson Suite Hotel Oceanfront

In [20]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>Current Weather </dt><dd> {Current Description} and {Max Temp} °F</dd>
</dl>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [23]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))